#canvas{
	background-color: #000000;
}	

body{
	margin: 0;
	overflow: hidden;
}

#cmdbar{
	user-select: none;
	position:absolute;
	bottom: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50vw;
	height: 75px;
	background-color: #505050;
	padding: 10px;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#btns-row{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.cmdbar-btn{
	flex-grow: 2;
	flex-basis: 10%;
	background-color: #C0C0C0;
	color: black;
	border: none;
	text-align: center;
	vertical-align: center;
	cursor: pointer;
	height: 55px;
	margin-left: 5px;
	margin-right: 5px;
}

.cmdbar-btn:hover{
	background-color: #FFFFFF;
}

#downloadAnchor{
	display: none;
}

#cmdbar-hider{
	position: absolute;
	left: 50%;
	top: -50%;
	transform: translate(-50%, 50%);
	padding: 5px;
	width: 100px;
	text-align: center;
	box-sizing: border-box;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #505050;
}